.navbar-brand {
    padding: 5px 5px 5px 5px !important;
}

    .navbar-brand img {
        height: 100% !important;
    }


.jumbotron {
    /*background-image: url("../images/red-phone.jpg");*/
    background-size: contain;
    background-position:center;
    background-repeat: no-repeat;
}

.status {
    cursor: pointer;
    padding-left: 7px;
}

.status-available {
    border-left: 3px solid #5DD255;
}

.status-offline {
    border-left: 3px solid #B6CFD8;
}

.status-away {
    border-left: 3px solid #FFD200;
}

.status-inacall {
    border-left: 3px solid #D00E0D;
}

.status-busy {
    border-left: 3px solid #D00E0D;
}

.status-donotdisturb {
    border-left: 3px solid #C72D25;
}

.status-outofoffice {
    border-left: 3px solid #B6CFD8;
}
