.navbar-brand {
    padding: 5px 5px 5px 5px !important;
}

    .navbar-brand img {
        height: 100% !important;
    }

tr.grouping {
    text-transform: uppercase;
    font-size: smaller;
    font-weight: bold;
    text-align: right;
    background-color: #fcfcfc;
}

    tr.grouping td {
        padding: 4px !important;
    }

.jumbotron {
    /*background-image: url("../images/red-phone.jpg");*/
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

    .jumbotron .container h1::first-letter {
        color: #00ADEF;
    }

.buttons {
    padding-right: 5px !important;
}

.status {
    cursor: pointer;
    padding-left: 7px;
}

.status-available {
    border-left: 3px solid #5DD255;
}

.status-offline {
    border-left: 3px solid #B6CFD8;
}

.status-away {
    border-left: 3px solid #FFD200;
}

.status-inacall {
    border-left: 3px solid #D00E0D;
}

.status-busy {
    border-left: 3px solid #D00E0D;
}

.status-inameeting {
    border-left: 3px solid #D00E0D;
}

.status-donotdisturb {
    border-left: 3px solid #C72D25;
}

.status-outofoffice {
    border-left: 3px solid #B6CFD8;
}

/*
    CSS Loading indicator
*/

.loading {
    min-width: 300px;
}

    .loading:after {
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;
        -webkit-animation: ellipsis steps(4,end) 900ms infinite;
        animation: ellipsis steps(4,end) 900ms infinite;
        content: "\2026"; /* ascii code for the ellipsis character */
        width: 0px;
    }

@keyframes ellipsis {
    to {
        width: 20px;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 20px;
    }
}


/* Matthew Steer added this on: 6.6.16 */
tfoot input {
    font-size: 13px !important;
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}
::-ms-clear {
    display: none;
}

/* 30.8.16 JW */
.dataTables_filter {
    text-align: left !important
}
