.navbar-brand {
    padding: 5px 5px 5px 5px !important;
}

    .navbar-brand img {
        height: 100% !important;
    }

.status-available {
    border-left: 3px solid #5DD255;
    padding-left: 5px;
}

.status-offline {
    border-left: 3px solid #B6CFD8;
    padding-left: 5px;
}

.status-away {
    border-left: 3px solid #FFD200;
    padding-left: 5px;
}

.status-inacall {
    border-left: 3px solid #D00E0D;
    padding-left: 5px;
}

.status-busy {
    border-left: 3px solid #D00E0D;
    padding-left: 5px;
}

.status-donotdisturb {
    border-left: 3px solid #C72D25;
    padding-left: 5px;
}

.status-outofoffice {
    border-left: 3px solid #B6CFD8;
    padding-left: 5px;
}
